body {
  /* Background */
  background-image: url("/images/chris-castro-521-unsplash.jpg");
  background-position-y: 80%;
  background-attachment: fixed;
  background-size: cover;

  /* Text Formats */
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Alegreya Sans SC', sans-serif;
}
input {
  font-family: 'Roboto Condensed', sans-serif;
}
.lowerCase{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
}
button{
  margin:2px;
}
