body {
    /* background-image: url("./images/jose-alonso-382321-unsplash.jpg") */
}
#no-match-image {
    max-width: 100%;
    height: auto;
}
.card-text {
    color: black;
}
.giphy-embed {
    width: 100%;
}   